{% extends "base.html" %}

{% block content %}
  <h1>
    {{ task.model }}
    <a href="#" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="#" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <h1>
    Assignees

    {% if task in user.assigned_tasks.all %}
      <a href="#" class="btn btn-danger link-to-page">
        Delete me from this task
      </a>
    {% else %}
      <a href="#" class="btn btn-success link-to-page">
        Assign me from this task
      </a>
    {% endif %}

  </h1>
  <hr>
  <ul>
    {% for assignees in task.assigned_tasks.all %}
      <li>{{ assignees.username }} ({{ assignees.first_name }} {{ assignees.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
