{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>Worker List</h1>
  <form method="get" action="" class="form-inline">
    {{ search_forms|crispy }}
    <input class="btn btn-secondary" type="submit" value="👁️">
  </form>
  <a href="{% url 'catalog:worker-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>

  {% if worker_list %}
    <table class="table">
      <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for worker in worker_list %}
        <tr>
          <td><a href="{% url "catalog:worker-detail" pk=worker.id %} ">{{ worker.username }}</a>
          </td>
          <td>
              {{ worker.first_name }}
          </td>
          <td>
              {{ worker.last_name }}
          </td>
          <td>
              {{ worker.position }}
          </td>
          <td>
              <a href="#">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="#">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no worker in the manager.</p>
  {% endif %}
{% endblock %}