{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="IT Company Task Manager">

    <title>{% block title %}Task manager{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />


    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    {% block extra_head %}{% endblock %}
</head>

<body id="page-top" class="bg-light">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'catalog:index' %}">Task Manager</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                Menu <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                {% block sidebar %}
                    {% include "includes/sidebar.html" %}
                {% endblock %}
            </div>
        </div>
    </nav>

    <main class="page-content">
        <div class="container px-4 px-lg-5" style="margin-top: 120px; min-height: 70vh;">
            <div class="row">
                <div class="col-12">

                    {% block content %}{% endblock %}

                    <div class="mt-4">
                        {% block pagination %}
                            {% include "includes/pagination.html" %}
                        {% endblock %}
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer class="footer bg-black small text-center text-white-50">
        <div class="container px-4 px-lg-5">Copyright &copy; IT Company Task Manager 2026</div>
        <div><a href="https://www.instagram.com/spmspi?igsh=aHN1aW5nbzRxaWZs&utm_source=qr" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-instagram fa-2x"></i>
            </a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    {% block extra_scripts %}{% endblock %}
</body>

</html>