{% extends "base.html" %}

{% block content %}
  <h1>
    {{ task.name }}
    <a href="{% url 'catalog:task-delete' pk=task.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'catalog:task-update' pk=task.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <h3>
    Assignees

    {% if task in user.assigned_tasks.all %}
      <a href="{% url 'catalog:task-worker-toggle' pk=task.id %}" class="btn btn-danger link-to-page">
        Delete me from this task
      </a>
    {% else %}
      <a href="{% url 'catalog:task-worker-toggle' pk=task.id %}" class="btn btn-success link-to-page">
        Assign me from this task
      </a>
    {% endif %}

  </h3>
  <hr>
  <ul>
    <div class="row row-cols-1 row-cols-md-4 g-5 task-grid">
      {% for assignees in task.assignees.all %}
        <div class="col">
        <div class="card h-100 p-3 task-card" style="aspect-ratio: 1 / 1;">
            <h5>Username: {{ assignees.username }} </h5>
            <p>Name: {{ assignees.first_name }} {{ assignees.last_name }}</p>
            <p>Email: {{ assignees.email }}</p>
            <p>Position: {{ assignees.position }}</p>
            <p>Last login: {{ assignees.last_login }}</p>
          </div>
        </div>
      {% endfor %}
    </ul>
{% endblock %}
